openapi: 3.2.0
info:
  title: SpaceX REST Crew API
  description: 'Community-maintained, open-source REST API for SpaceX data — launches, rockets,

    capsules, cores, crew, dragons, payloads, ships, landpads, launchpads, Starlink

    satellites, the Tesla Roadster ephemeris, company info, and historical events.'
  version: '4.0'
  contact:
    name: r-spacex community
    url: https://github.com/r-spacex/SpaceX-API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-last-validated: '2026-05-29'
  x-status: maintenance-only
servers:
- url: https://api.spacexdata.com
  description: Canonical hosted REST endpoint (community-operated)
security: []
tags:
- name: Crew
  description: Detailed info on Dragon crew members.
paths:
  /v4/crew:
    get:
      operationId: listCrew
      summary: List All Crew
      description: Return every Dragon crew member record.
      tags:
      - Crew
      responses:
        '200':
          description: Array of crew member records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CrewMember'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/crew/{id}:
    get:
      operationId: getCrewMember
      summary: Get One Crew Member
      description: Return a single crew member record by its UUID.
      tags:
      - Crew
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Crew member record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewMember'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/crew/query:
    post:
      operationId: queryCrew
      summary: Query Crew
      description: Run a mongoose-paginate-v2 query against the crew collection.
      tags:
      - Crew
      requestBody:
        $ref: '#/components/requestBodies/QueryBody'
      responses:
        '200':
          description: Paginated crew result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCrew'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PaginatedCrew:
      allOf:
      - $ref: '#/components/schemas/PaginationEnvelope'
      - type: object
        properties:
          docs:
            type: array
            items:
              $ref: '#/components/schemas/CrewMember'
    CrewMember:
      type: object
      description: A SpaceX Dragon crew member.
      properties:
        id:
          type: string
        name:
          type:
          - string
          - 'null'
        status:
          type: string
          enum:
          - active
          - inactive
          - retired
          - unknown
        agency:
          type:
          - string
          - 'null'
          description: e.g. NASA, ESA.
        image:
          type:
          - string
          - 'null'
          format: uri
        wikipedia:
          type:
          - string
          - 'null'
          format: uri
        launches:
          type: array
          items:
            type: string
      required:
      - status
    QueryRequest:
      type: object
      description: mongoose-paginate-v2 query body.
      properties:
        query:
          type: object
          description: MongoDB find() filter document.
          additionalProperties: true
        options:
          type: object
          description: Pagination + projection options.
          properties:
            select:
              description: Fields to include/exclude (string or object).
              oneOf:
              - type: string
              - type: object
            sort:
              description: Sort order (string or object).
              oneOf:
              - type: string
              - type: object
            offset:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            pagination:
              type: boolean
            populate:
              description: Populate definitions (array, object, or string).
              oneOf:
              - type: array
                items: {}
              - type: object
              - type: string
    PaginationEnvelope:
      type: object
      description: Default mongoose-paginate-v2 wrapper.
      properties:
        totalDocs:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        totalPages:
          type: integer
        page:
          type: integer
        pagingCounter:
          type: integer
        hasPrevPage:
          type: boolean
        hasNextPage:
          type: boolean
        prevPage:
          type:
          - integer
          - 'null'
        nextPage:
          type:
          - integer
          - 'null'
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        status:
          type: integer
          description: HTTP status code echoed in body.
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  requestBodies:
    QueryBody:
      description: mongoose-paginate-v2 query body.
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryRequest'
          example:
            query: {}
            options:
              limit: 10
              page: 1
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Resource UUID (MongoDB ObjectId, e.g. `5e9d0d95eda69973a809d1ec`).
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  securitySchemes:
    SpacexKey:
      type: apiKey
      in: header
      name: spacex-key
      description: 'Admin API key for destructive (create/update/delete) operations.

        Not required for any read endpoint.

        '
