openapi: 3.2.0
info:
  title: SpaceX REST Capsules Starlink API
  description: 'Community-maintained, open-source REST API for SpaceX data — launches, rockets,

    capsules, cores, crew, dragons, payloads, ships, landpads, launchpads, Starlink

    satellites, the Tesla Roadster ephemeris, company info, and historical events.

    Source: https://github.com/r-spacex/SpaceX-API (Apache 2.0).


    STATUS: Maintenance-only as of 2024. New launches/missions are NOT being added.

    Existing data remains queryable; project remains hosted for historical lookups

    and as a teaching/sample API.


    Each resource is independently versioned. The Launches resource has both v4 and

    v5 surfaces; v5 omits the v4 response/query transforms (`tdb` typo retained for v4

    parity). All other resources are v4-only.


    Authentication: only required for destructive (create/update/delete) admin routes

    via the `spacex-key` header. All read operations are public.


    Querying: every resource exposes a POST `/{resource}/query` endpoint that accepts

    a mongoose-paginate-v2 body of the form `{ query: <MongoDB find()>, options: {...} }`.

    '
  version: '4.0'
  contact:
    name: r-spacex community
    url: https://github.com/r-spacex/SpaceX-API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-last-validated: '2026-05-29'
  x-status: maintenance-only
servers:
- url: https://api.spacexdata.com
  description: Canonical hosted REST endpoint (community-operated)
security: []
tags:
- name: Starlink
  description: Detailed info about Starlink satellites and orbits.
paths:
  /v4/starlink:
    get:
      operationId: listStarlinkSatellites
      summary: List All Starlink Satellites
      description: Return every Starlink satellite record with raw Space-Track orbit data.
      tags:
      - Starlink
      responses:
        '200':
          description: Array of Starlink satellite records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StarlinkSat'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/starlink/{id}:
    get:
      operationId: getStarlinkSatellite
      summary: Get One Starlink Satellite
      description: Return a single Starlink satellite by its UUID.
      tags:
      - Starlink
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Starlink satellite record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StarlinkSat'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/starlink/query:
    post:
      operationId: queryStarlinkSatellites
      summary: Query Starlink Satellites
      description: Run a mongoose-paginate-v2 query against the starlink collection.
      tags:
      - Starlink
      requestBody:
        $ref: '#/components/requestBodies/QueryBody'
      responses:
        '200':
          description: Paginated starlink result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStarlink'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PaginationEnvelope:
      type: object
      description: Default mongoose-paginate-v2 wrapper.
      properties:
        totalDocs:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        totalPages:
          type: integer
        page:
          type: integer
        pagingCounter:
          type: integer
        hasPrevPage:
          type: boolean
        hasNextPage:
          type: boolean
        prevPage:
          type:
          - integer
          - 'null'
        nextPage:
          type:
          - integer
          - 'null'
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        status:
          type: integer
          description: HTTP status code echoed in body.
    StarlinkSat:
      type: object
      description: A Starlink satellite with Space-Track OMM orbit data.
      properties:
        id:
          type: string
        version:
          type:
          - string
          - 'null'
        launch:
          type:
          - string
          - 'null'
          description: Launch UUID.
        longitude:
          type:
          - number
          - 'null'
        latitude:
          type:
          - number
          - 'null'
        height_km:
          type:
          - number
          - 'null'
        velocity_kms:
          type:
          - number
          - 'null'
        spaceTrack:
          type: object
          description: Raw Space-Track Orbit Mean Elements Message fields.
          additionalProperties: true
    QueryRequest:
      type: object
      description: mongoose-paginate-v2 query body.
      properties:
        query:
          type: object
          description: MongoDB find() filter document.
          additionalProperties: true
        options:
          type: object
          description: Pagination + projection options.
          properties:
            select:
              description: Fields to include/exclude (string or object).
              oneOf:
              - type: string
              - type: object
            sort:
              description: Sort order (string or object).
              oneOf:
              - type: string
              - type: object
            offset:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            pagination:
              type: boolean
            populate:
              description: Populate definitions (array, object, or string).
              oneOf:
              - type: array
                items: {}
              - type: object
              - type: string
    PaginatedStarlink:
      allOf:
      - $ref: '#/components/schemas/PaginationEnvelope'
      - type: object
        properties:
          docs:
            type: array
            items:
              $ref: '#/components/schemas/StarlinkSat'
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Resource UUID (MongoDB ObjectId, e.g. `5e9d0d95eda69973a809d1ec`).
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  requestBodies:
    QueryBody:
      description: mongoose-paginate-v2 query body.
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryRequest'
          example:
            query: {}
            options:
              limit: 10
              page: 1
  securitySchemes:
    SpacexKey:
      type: apiKey
      in: header
      name: spacex-key
      description: 'Admin API key for destructive (create/update/delete) operations.

        Not required for any read endpoint.

        '
