openapi: 3.2.0
info:
  title: SpaceX REST Capsules Rockets API
  description: 'Community-maintained, open-source REST API for SpaceX data — launches, rockets,

    capsules, cores, crew, dragons, payloads, ships, landpads, launchpads, Starlink

    satellites, the Tesla Roadster ephemeris, company info, and historical events.

    Source: https://github.com/r-spacex/SpaceX-API (Apache 2.0).


    STATUS: Maintenance-only as of 2024. New launches/missions are NOT being added.

    Existing data remains queryable; project remains hosted for historical lookups

    and as a teaching/sample API.


    Each resource is independently versioned. The Launches resource has both v4 and

    v5 surfaces; v5 omits the v4 response/query transforms (`tdb` typo retained for v4

    parity). All other resources are v4-only.


    Authentication: only required for destructive (create/update/delete) admin routes

    via the `spacex-key` header. All read operations are public.


    Querying: every resource exposes a POST `/{resource}/query` endpoint that accepts

    a mongoose-paginate-v2 body of the form `{ query: <MongoDB find()>, options: {...} }`.

    '
  version: '4.0'
  contact:
    name: r-spacex community
    url: https://github.com/r-spacex/SpaceX-API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-last-validated: '2026-05-29'
  x-status: maintenance-only
servers:
- url: https://api.spacexdata.com
  description: Canonical hosted REST endpoint (community-operated)
security: []
tags:
- name: Rockets
  description: Detailed info about rocket versions.
paths:
  /v4/rockets:
    get:
      operationId: listRockets
      summary: List All Rockets
      description: Return every rocket version record.
      tags:
      - Rockets
      responses:
        '200':
          description: Array of rocket records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rocket'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/rockets/{id}:
    get:
      operationId: getRocket
      summary: Get One Rocket
      description: Return a single rocket by its UUID.
      tags:
      - Rockets
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Rocket record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rocket'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/rockets/query:
    post:
      operationId: queryRockets
      summary: Query Rockets
      description: Run a mongoose-paginate-v2 query against the rockets collection.
      tags:
      - Rockets
      requestBody:
        $ref: '#/components/requestBodies/QueryBody'
      responses:
        '200':
          description: Paginated rocket result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRockets'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Thrust:
      type: object
      properties:
        kN:
          type:
          - number
          - 'null'
        lbf:
          type:
          - number
          - 'null'
    PaginationEnvelope:
      type: object
      description: Default mongoose-paginate-v2 wrapper.
      properties:
        totalDocs:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        totalPages:
          type: integer
        page:
          type: integer
        pagingCounter:
          type: integer
        hasPrevPage:
          type: boolean
        hasNextPage:
          type: boolean
        prevPage:
          type:
          - integer
          - 'null'
        nextPage:
          type:
          - integer
          - 'null'
    KgLb:
      type: object
      properties:
        kg:
          type:
          - number
          - 'null'
        lb:
          type:
          - number
          - 'null'
    MetersFeet:
      type: object
      properties:
        meters:
          type:
          - number
          - 'null'
        feet:
          type:
          - number
          - 'null'
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        status:
          type: integer
          description: HTTP status code echoed in body.
    Rocket:
      type: object
      description: A rocket version (Falcon 1, Falcon 9, Falcon Heavy, Starship).
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        active:
          type: boolean
        stages:
          type: integer
        boosters:
          type: integer
        cost_per_launch:
          type: number
          description: USD per launch.
        success_rate_pct:
          type: number
        first_flight:
          type: string
          format: date
        country:
          type: string
        company:
          type: string
        height:
          $ref: '#/components/schemas/MetersFeet'
        diameter:
          $ref: '#/components/schemas/MetersFeet'
        mass:
          $ref: '#/components/schemas/KgLb'
        payload_weights:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              kg:
                type: number
              lb:
                type: number
        first_stage:
          type: object
          properties:
            reusable:
              type: boolean
            engines:
              type: integer
            fuel_amount_tons:
              type: number
            burn_time_sec:
              type:
              - number
              - 'null'
            thrust_sea_level:
              $ref: '#/components/schemas/Thrust'
            thrust_vacuum:
              $ref: '#/components/schemas/Thrust'
        second_stage:
          type: object
          properties:
            reusable:
              type: boolean
            engines:
              type: integer
            fuel_amount_tons:
              type: number
            burn_time_sec:
              type:
              - number
              - 'null'
            thrust:
              $ref: '#/components/schemas/Thrust'
            payloads:
              type: object
              additionalProperties: true
        engines:
          type: object
          additionalProperties: true
        landing_legs:
          type: object
          properties:
            number:
              type: integer
            material:
              type:
              - string
              - 'null'
        flickr_images:
          type: array
          items:
            type: string
            format: uri
        wikipedia:
          type: string
          format: uri
        description:
          type: string
    PaginatedRockets:
      allOf:
      - $ref: '#/components/schemas/PaginationEnvelope'
      - type: object
        properties:
          docs:
            type: array
            items:
              $ref: '#/components/schemas/Rocket'
    QueryRequest:
      type: object
      description: mongoose-paginate-v2 query body.
      properties:
        query:
          type: object
          description: MongoDB find() filter document.
          additionalProperties: true
        options:
          type: object
          description: Pagination + projection options.
          properties:
            select:
              description: Fields to include/exclude (string or object).
              oneOf:
              - type: string
              - type: object
            sort:
              description: Sort order (string or object).
              oneOf:
              - type: string
              - type: object
            offset:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            pagination:
              type: boolean
            populate:
              description: Populate definitions (array, object, or string).
              oneOf:
              - type: array
                items: {}
              - type: object
              - type: string
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Resource UUID (MongoDB ObjectId, e.g. `5e9d0d95eda69973a809d1ec`).
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  requestBodies:
    QueryBody:
      description: mongoose-paginate-v2 query body.
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryRequest'
          example:
            query: {}
            options:
              limit: 10
              page: 1
  securitySchemes:
    SpacexKey:
      type: apiKey
      in: header
      name: spacex-key
      description: 'Admin API key for destructive (create/update/delete) operations.

        Not required for any read endpoint.

        '
