openapi: 3.2.0
info:
  title: SpaceX REST Capsules History API
  description: 'Community-maintained, open-source REST API for SpaceX data — launches, rockets,

    capsules, cores, crew, dragons, payloads, ships, landpads, launchpads, Starlink

    satellites, the Tesla Roadster ephemeris, company info, and historical events.

    Source: https://github.com/r-spacex/SpaceX-API (Apache 2.0).


    STATUS: Maintenance-only as of 2024. New launches/missions are NOT being added.

    Existing data remains queryable; project remains hosted for historical lookups

    and as a teaching/sample API.


    Each resource is independently versioned. The Launches resource has both v4 and

    v5 surfaces; v5 omits the v4 response/query transforms (`tdb` typo retained for v4

    parity). All other resources are v4-only.


    Authentication: only required for destructive (create/update/delete) admin routes

    via the `spacex-key` header. All read operations are public.


    Querying: every resource exposes a POST `/{resource}/query` endpoint that accepts

    a mongoose-paginate-v2 body of the form `{ query: <MongoDB find()>, options: {...} }`.

    '
  version: '4.0'
  contact:
    name: r-spacex community
    url: https://github.com/r-spacex/SpaceX-API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-last-validated: '2026-05-29'
  x-status: maintenance-only
servers:
- url: https://api.spacexdata.com
  description: Canonical hosted REST endpoint (community-operated)
security: []
tags:
- name: History
  description: Detailed info on SpaceX historical events.
paths:
  /v4/history:
    get:
      operationId: listHistoryEvents
      summary: List All History Events
      description: Return every SpaceX historical event record.
      tags:
      - History
      responses:
        '200':
          description: Array of history event records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoryEvent'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/history/{id}:
    get:
      operationId: getHistoryEvent
      summary: Get One History Event
      description: Return a single SpaceX history event by its UUID.
      tags:
      - History
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: History event record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryEvent'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/history/query:
    post:
      operationId: queryHistoryEvents
      summary: Query History Events
      description: Run a mongoose-paginate-v2 query against the history collection.
      tags:
      - History
      requestBody:
        $ref: '#/components/requestBodies/QueryBody'
      responses:
        '200':
          description: Paginated history result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedHistory'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PaginationEnvelope:
      type: object
      description: Default mongoose-paginate-v2 wrapper.
      properties:
        totalDocs:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        totalPages:
          type: integer
        page:
          type: integer
        pagingCounter:
          type: integer
        hasPrevPage:
          type: boolean
        hasNextPage:
          type: boolean
        prevPage:
          type:
          - integer
          - 'null'
        nextPage:
          type:
          - integer
          - 'null'
    HistoryEvent:
      type: object
      description: A historical SpaceX event.
      properties:
        id:
          type: string
        title:
          type:
          - string
          - 'null'
        event_date_utc:
          type:
          - string
          - 'null'
          format: date-time
        event_date_unix:
          type:
          - integer
          - 'null'
        details:
          type:
          - string
          - 'null'
        links:
          type: object
          properties:
            article:
              type:
              - string
              - 'null'
              format: uri
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        status:
          type: integer
          description: HTTP status code echoed in body.
    QueryRequest:
      type: object
      description: mongoose-paginate-v2 query body.
      properties:
        query:
          type: object
          description: MongoDB find() filter document.
          additionalProperties: true
        options:
          type: object
          description: Pagination + projection options.
          properties:
            select:
              description: Fields to include/exclude (string or object).
              oneOf:
              - type: string
              - type: object
            sort:
              description: Sort order (string or object).
              oneOf:
              - type: string
              - type: object
            offset:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            pagination:
              type: boolean
            populate:
              description: Populate definitions (array, object, or string).
              oneOf:
              - type: array
                items: {}
              - type: object
              - type: string
    PaginatedHistory:
      allOf:
      - $ref: '#/components/schemas/PaginationEnvelope'
      - type: object
        properties:
          docs:
            type: array
            items:
              $ref: '#/components/schemas/HistoryEvent'
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Resource UUID (MongoDB ObjectId, e.g. `5e9d0d95eda69973a809d1ec`).
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  requestBodies:
    QueryBody:
      description: mongoose-paginate-v2 query body.
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryRequest'
          example:
            query: {}
            options:
              limit: 10
              page: 1
  securitySchemes:
    SpacexKey:
      type: apiKey
      in: header
      name: spacex-key
      description: 'Admin API key for destructive (create/update/delete) operations.

        Not required for any read endpoint.

        '
