openapi: 3.0.3
info:
  title: SpaceX REST Capsules Roadster API
  description: 'Community-maintained, open-source REST API for SpaceX data — launches, rockets,

    capsules, cores, crew, dragons, payloads, ships, landpads, launchpads, Starlink

    satellites, the Tesla Roadster ephemeris, company info, and historical events.

    Source: https://github.com/r-spacex/SpaceX-API (Apache 2.0).


    STATUS: Maintenance-only as of 2024. New launches/missions are NOT being added.

    Existing data remains queryable; project remains hosted for historical lookups

    and as a teaching/sample API.


    Each resource is independently versioned. The Launches resource has both v4 and

    v5 surfaces; v5 omits the v4 response/query transforms (`tdb` typo retained for v4

    parity). All other resources are v4-only.


    Authentication: only required for destructive (create/update/delete) admin routes

    via the `spacex-key` header. All read operations are public.


    Querying: every resource exposes a POST `/{resource}/query` endpoint that accepts

    a mongoose-paginate-v2 body of the form `{ query: <MongoDB find()>, options: {...} }`.

    '
  version: '4.0'
  contact:
    name: r-spacex community
    url: https://github.com/r-spacex/SpaceX-API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-last-validated: '2026-05-29'
  x-status: maintenance-only
servers:
- url: https://api.spacexdata.com
  description: Canonical hosted REST endpoint (community-operated)
security: []
tags:
- name: Roadster
  description: Detailed info about Elon Musk's Tesla Roadster ephemeris.
paths:
  /v4/roadster:
    get:
      operationId: getRoadster
      summary: Get Roadster Ephemeris
      description: Return the current orbital ephemeris for Elon Musk's Tesla Roadster.
      tags:
      - Roadster
      responses:
        '200':
          description: Roadster ephemeris record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roadster'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v4/roadster/query:
    post:
      operationId: queryRoadster
      summary: Query Roadster
      description: Run a mongoose-paginate-v2 query against the roadster collection (single document).
      tags:
      - Roadster
      requestBody:
        $ref: '#/components/requestBodies/QueryBody'
      responses:
        '200':
          description: Paginated roadster result.
          content:
            application/json:
              schema:
                type: object
                description: Paginated roadster wrapper (single document).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  requestBodies:
    QueryBody:
      description: mongoose-paginate-v2 query body.
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryRequest'
          example:
            query: {}
            options:
              limit: 10
              page: 1
  schemas:
    Roadster:
      type: object
      description: Tesla Roadster ephemeris (single document).
      properties:
        id:
          type: string
        name:
          type: string
        launch_date_utc:
          type: string
          format: date-time
        launch_date_unix:
          type: integer
        launch_mass_kg:
          type: number
        launch_mass_lbs:
          type: number
        norad_id:
          type: integer
        epoch_jd:
          type: number
        orbit_type:
          type: string
        apoapsis_au:
          type: number
        periapsis_au:
          type: number
        semi_major_axis_au:
          type: number
        eccentricity:
          type: number
        inclination:
          type: number
        longitude:
          type: number
        periapsis_arg:
          type: number
        period_days:
          type: number
        speed_kph:
          type: number
        speed_mph:
          type: number
        earth_distance_km:
          type: number
        earth_distance_mi:
          type: number
        mars_distance_km:
          type: number
        mars_distance_mi:
          type: number
        flickr_images:
          type: array
          items:
            type: string
            format: uri
        wikipedia:
          type: string
          format: uri
        video:
          type: string
          format: uri
        details:
          type: string
    QueryRequest:
      type: object
      description: mongoose-paginate-v2 query body.
      properties:
        query:
          type: object
          description: MongoDB find() filter document.
          additionalProperties: true
        options:
          type: object
          description: Pagination + projection options.
          properties:
            select:
              description: Fields to include/exclude (string or object).
              oneOf:
              - type: string
              - type: object
            sort:
              description: Sort order (string or object).
              oneOf:
              - type: string
              - type: object
            offset:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            pagination:
              type: boolean
            populate:
              description: Populate definitions (array, object, or string).
              oneOf:
              - type: array
                items: {}
              - type: object
              - type: string
  securitySchemes:
    SpacexKey:
      type: apiKey
      in: header
      name: spacex-key
      description: 'Admin API key for destructive (create/update/delete) operations.

        Not required for any read endpoint.

        '
